<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} 的評論</title>
</head>
<body>
    <form action="" method="post">
        用戶： <input name="name"><br>
        評論： <input name="url"><br>
        星數： <input name="star"><br>
         
        <input type="submit" value="提交">
        <ul>
            {% for i in posts %}
                <li>  {{ names[loop.index - 1] }} : {{ i }}</li>
            {% endfor %}
        </ul>
    </form>
</body>
</html>