<!doctype html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">

<title>happy寵物險</title>
<style type="text/css">
@media screen{
}

.l {
    font-size: large;
}


.text {
    margin-top: -19px;
}
.sel {
    font-family: "jf open 粉圓 1.0";
}
</style>



</head>

<body class="a">
<div class="title" >
  <h1 align="center" >
	  <font color="#FF5A58"> 填寫</font>寵物資料
	 </h1>
	<p class="text" align="center">Creat a form.
  </p>
</div>

<div class="new">
  <fieldset class="b">
    <legend class="l">&nbsp;&nbsp;&nbsp;表單內容</legend>
    <table width="100%"  border="0" class="table" >
      <tbody>
        <form action="" method="post" name="post">
          <tr height="22px">
            <td width="30%">&nbsp;寵物種類 </td>
            <td width="70%">
              <input type="text" name="portfolioInfo" value="portfolioInfo">
            </td>
          </tr>
          <tr height="22px">
            <td>&nbsp;寵物性別 </td>
              
            <td>
              <input type="radio" id="male" name="gender" value="male">
              <label for="male">Male</label><br>
              <input type="radio" id="female" name="gender" value="female">
              <label for="female">Female</label><br>
              <input type="radio" id="other" name="gender" value="other">
              <label for="other">Other</label>
            </td>
          </tr>
          <tr height="22px">
            <td>&nbsp;寵物品種</td>
            <td>
              <input type="text" name="portfolioInfo" value="portfolioInfo">
            </td>
          </tr>
          <tr height="22px">
            <td>&nbsp;寵物生日 </td>
              
            <td>
                <input type="text" name="portfolioInfo" value="portfolioInfo">
            </td>
          </tr>
          <tr height="22px">
            <td>&nbsp;保險期間 </td>
              
            <td>  
                <input type="text" name="portfolioInfo" value="portfolioInfo">
            </td>
          </tr>
          <tr align="center">
            <td height="36" colspan="2">
              <strong>
                  <input type="submit" class="button" value="確認" onclick='PortfolioConfirm()'>
              </strong>
            </td>
          </tr>
        </form>
      </tbody>
    </table>
  </fieldset>
	</div>
  <p>&nbsp;</p>
	<div class="buy">
    <fieldset class="b">
      <table width="100%" height="159" border="0">
        <tbody>
          <tr>
            <!-- 輸入股票代碼查詢股價 -->
            <form method="post" >
              <td width="30%">公司代碼：</td>
              
              <td width="20%">
                <input type="search" name="company" value="{{companyNum}}"></td>
              
              <td width="30%"><strong>
                <input type="submit" class="button" id="search2" value="查詢">
                </strong>
              </td>
            </form>  
          </tr>

          <tr>
            <td>
              <p id='companyName' style="display:none;">{{company}}</p>
              <p id='companyNum' style="display:none;">{{companyNum}}</p>
              <p id='price' style="display:none;">{{price}}</p>

            </td>
            <!-- 顯示查詢結果(公司名稱+股票代碼+股價) -->
            <td colspan="2"><label for="textfield2">{{stock}}</label></td>
          </tr>

          <!-- 輸入欲購買張數 -->
          <form action="post/" method="post" name="post">
            <tr>
              <td>張　　數： </td>
              <td colspan="2">

              </td>
            </tr>
          
            <tr align="center">
              <td height="36" colspan="3">
                <strong>    
                <input name="buy" type="submit" class="button" id="buy" value="買入">
                <input type="hidden" name="companyName" value="{{company}}">
                <input type="hidden" name="companyNum" value="{{companyNum}}">  
                <input type="hidden" name="price" value="{{price}}">    
                </strong>
              </td>
            </tr>
          </form>
        </tbody>
      </table>
      <legend class="l">&nbsp;&nbsp;&nbsp;買股票</legend>
    </fieldset>
  </div>
  
  <p>&nbsp;&nbsp;<font color="red" size=4>{{result}}</font></p> <!-- 如果股票數量少於兩支就跳訊息(後端設定好的) -->

	<div class="stocklist">
  <fieldset class="b">
    <legend class="l">&nbsp;&nbsp;&nbsp;目前組合</legend>
    <table width="100%" border="1" rules="rows" frame="void" style="font-size: 13.5px;" >
      <thead>
        <tr height="27px">
            <td>序號</td>
            <td>公司名稱</td>
            <td>張數</td>
            <td>收盤價</td>
            <td>總金額</td>
            <td>刪除</td>
        </tr>
      </thead>          
      <tbody id="tbodyid">
		    
        <tr height="35px">
          
          <td id="thousandths"></td>
          <td>
            <form action="delete/" method="post" name="delete">
              
              <input type="hidden" name="fk_id" value="d">
              <input type="submit" class="button" id="delete" name="delete" value="✕" style="width: 25px; height: 20px;padding-top: 0;padding-bottom: 0;font-style: strong;" >
            </form>  
          </td>
        </tr>
         
		  </tbody>
    </table>
    <table width="100%" border="1" rules="rows" frame="void">
      <tbody>
        <tr></tr>
        <tr height="42">
          <td></td>
          <td align="right" width="65%">合計：</td>
          <td>
            <label for="textfield2" id='total'>{{total}}</label>
          </td>
          <td>&nbsp;</td>
          <td align="center">
            <form method="post" >
            <input type="submit" name="totalConfirm" id="totalConfirm" class="button" value="送出" >
            </form>
          </td>
        </tr>
      </tbody>
    </table>  
  </fieldset>
  <p align="center"></p>
</div>
<em><strong></strong></em>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
// 成功輸入投資組合
function PortfolioConfirm() {
  window.alert("輸入完成，請新增股票至你的投資組合");
}
// 判斷總額是否超過預算
  $(function () {
    $('#totalConfirm').click(function(){
      const total=(document.getElementById("total")).innerHTML
      const budget=(document.getElementById("budget")).innerHTML

      if ((parseInt(total.replace(/[,]+/g, ""))>parseInt(budget.replace(/[,]+/g, ""))))
      {
          window.alert("超過預算!!!");
      }
      else if (total==0)
      {
          window.alert("請新增股票至你的投資組合");
      }                  
      
    });
  });
         
</script>
</body>
</html>
