<!doctype html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">

<title>happy寵物險</title>
<style type="text/css">
@media screen{
}

.l {
    font-size: large;
}


.text {
    margin-top: -19px;
}
.sel {
    font-family: "jf open 粉圓 1.0";
}
</style>



</head>

<body class="a">
<div class="title" >
  <h1 align="center" >
	  <font color="#FF5A58"> 購買</font>happy寵物險
	 </h1>
	<p class="text" align="center">Creat a form.
  </p>
</div>

<div class="new">
  <fieldset class="b">
    <legend class="l">&nbsp;&nbsp;&nbsp;寵物資料</legend>
    <table width="100%"  border="0" class="table" >
      <tbody>
        <form action="" method="post" name="post">
          <tr height="22px">
            <td width="30%">&nbsp;寵物種類 </td>
            <td width="70%">
              <input type="radio" id="dog" name="category" value="狗星人">
              <label for="male">狗星人</label>
              <input type="radio" id="cat" name="category" value="貓星人">
              <label for="female">貓星人</label>

            <br>

            </td>
          </tr>
          <tr height="22px">
            <td>&nbsp;寵物性別 </td>
              
            <td>
              <input type="radio" id="male" name="gender" value="male">
              <label for="male">Male</label>
              <input type="radio" id="female" name="gender" value="female">
              <label for="female">Female</label>
            </td>
          </tr>
          <tr height="22px">
            <td>&nbsp;寵物品種</td>
            <td>
              <input type="text" name="portfolioInfo" value="拉布拉多">
            </td>
          </tr>
          <tr height="22px">
            <td>&nbsp;寵物生日 </td>
              
            <td>

              <input type="date" id="birthday" name="birthday">
            </td>
          </tr>
          <tr height="22px">
            <td>&nbsp;保險期間 </td>
              
            <td>  

              <input type="date" id="birthday" name="birthday">
            </td>
          </tr>
          
        </form>
      </tbody>
    </table>
  </fieldset>
	</div>
  <p>&nbsp;</p>
	<div class="new">
    <fieldset class="b">
      <legend class="l">&nbsp;&nbsp;&nbsp;投保人資料</legend>
      <table width="100%"  border="0" class="table" >
        <tbody>
          <form action="" method="post" name="post">
            <tr height="22px">
              <td width="30%">&nbsp;寵物種類 </td>
              <td width="70%">
                <input type="radio" id="dog" name="category" value="狗星人">
                <label for="male">狗星人</label>
                <input type="radio" id="cat" name="category" value="貓星人">
                <label for="female">貓星人</label>
  
              <br>
  
              </td>
            </tr>
            <tr height="22px">
              <td>&nbsp;寵物性別 </td>
                
              <td>
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label>
              </td>
            </tr>
            <tr height="22px">
              <td>&nbsp;寵物品種</td>
              <td>
                <input type="text" name="portfolioInfo" value="拉布拉多">
              </td>
            </tr>
            <tr height="22px">
              <td>&nbsp;寵物生日 </td>
                
              <td>
  
                <input type="date" id="birthday" name="birthday">
              </td>
            </tr>
            <tr height="22px">
              <td>&nbsp;保險期間 </td>
                
              <td>  
  
                <input type="date" id="birthday" name="birthday">
              </td>
            </tr>
            
          </form>
        </tbody>
      </table>
    </fieldset>
    </div>

    
    <input  type="submit" class="button" value="確認" onclick='PortfolioConfirm()' align ="middle">
    
    
</body>
</html>
